
body{
    background-color: aqua;
}

.example{
    position: relative;
    text-align:center
}

.example p{
    position: absolute;
    color: white;
    top: 50%;
    left: 46%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 3em;
    font-weight: bold;
    
}

.example img{
    width: 60%;
    height: 20%;
}


