<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>バスケの掲示板サイト</title>
    <link href="static\style.css", rel="stylesheet", type="text/css">
</head>
<body>
    <div class="example">
        <img src="static\bunbougu_kokuban.png">
        <button onclick="location.href='login.html'">ログイン</button>
        <p>{{title}}</p>
    </div>


    <div class="post">
        <h2>{{body}}</h2><br>
        <form method="POST" action="*">
            <p style="text-align:center">
                <textarea name="comment" maxlength="300" rows="6" cols="50" placeholder="300字以内で書いてください。"></textarea>
                <input type="submit" value="投稿">
            </p>
        </form>
    </div>

    <div class="postlist">
        <h2>{{bodylist}}</h2>
    </div>


</body>
</html>